{% include base_path %}

{% assign author = site.author %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
      <img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
      <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name"><span class="gradient-text">Cheng Zhang | 张 诚</span></h3>
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse author__follow-button">Follow</button>
    <ul class="author__urls social-icons">
      {% if author.location %}
        <li><i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> {{ author.location }}</li>
      {% endif %}
      {% if author.employer %}
        <li><i class="fas fa-fw fa-university" aria-hidden="true"></i> {{ author.employer }}</li>
      {% endif %}
      {% if author.uri %}
        <li><a href="{{ author.uri }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].website_label | default: "Website" }}</a></li>
      {% endif %}
      {% if author.email %}
        <li><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> czhang2024@hust.edu.cn</li>
      {% endif %}
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> Github</a></li>
      {% endif %}
      {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}"><i class="fas fa-fw fa-graduation-cap"></i> Google Scholar</a></li>
      {% endif %}
      {% if author.orcid %}
        <li><a href="{{ author.orcid }}"><i class="ai ai-orcid ai-fw author__icon-orcid"></i> ORCID</a></li>
      {% endif %}
<li>
  <a href="https://huggingface.co/Younai">
    <img src="/images/huggingface_logo.svg" alt="Hugging Face"
        class="author__icon-image author__icon-image--large">Hugging Face
  </a>
</li>
<li>
  <a href="https://dblp.org/pid/82/6384-20.html">
    <img src="/images/dblp.png" alt="DBLP"
        class="author__icon-image author__icon-image--large">DBLP
  </a>
</li>
<li>
  <a href="https://blog.csdn.net/Younai2021?spm=1000.2115.3001.5343">
    <img src="/images/csdn.png" alt="CSDN"
        class="author__icon-image">CSDN
  </a>
</li>


<li>
  <a href="https://substack.com/@twilight233388?">
    <img src="/images/substack.png" alt="Substack"
        class="author__icon-image">Substack
  </a>
</li>
<li>
  <a href="https://pypi.org/user/czhang/">
    <img src="/images/pypi.png" alt="PyPI"
        class="author__icon-image">PyPI
  </a>
</li>

<li>
  <a href="https://bsky.app/profile/younai2021.bsky.social">
    <img src="/images/bluesky.webp" alt="Bluesky"
        class="author__icon-image">Bluesky
  </a>
</li>

<li class="author__cv">
<i class="fas fa-user-circle author__cv-icon"></i>
  CV (<a href="/files/ZhangChengCV2025_9_13.pdf" class="author__cv-link">English</a>|<a href="/files/zhangchengCV_cn2025_11_20.pdf" class="author__cv-link"> 中文)</a>
</li>
    </ul>
  </div>
</div>
